/* Responsive for screens <768px */
@media (max-width: 768px) {
  nav ul {
    display: block;
  }

  img {
    width: 100%;
  }

  body {
    font-size: 14px;
  }

  .flex-container {
    flex-direction: column;
  }
}
